@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 0% 96.15%;
    --foreground: 199 58% 4%;
    --card: 0 0% 99%;
    --card-foreground: 199 58% 3%;
    --popover: 199 43% 100%;
    --popover-foreground: 199 58% 4%;
    --primary: 199 94% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 169 94% 44%;
    --secondary-foreground: 169 94% 4%;
    --accent: 229 94% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 8 89% 26%;
    --destructive-foreground: 8 89% 86%;
    --muted: 169 13% 86%;
    --muted-foreground: 169 9% 39%;
    --border: 199 9% 90%;
    --input: 199 9% 90%;
    --ring: 199 94% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 199 60% 2%;
    --foreground: 199 40% 100%;
    --card: 199 60% 3%;
    --card-foreground: 0 0% 100%;
    --popover: 199 60% 2%;
    --popover-foreground: 199 40% 100%;
    --primary: 199 94% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 169 94% 44%;
    --secondary-foreground: 169 94% 4%;
    --accent: 229 94% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 8 89% 46%;
    --destructive-foreground: 0 0% 100%;
    --muted: 169 13% 14%;
    --muted-foreground: 169 9% 61%;
    --border: 199 9% 10%;
    --input: 199 9% 10%;
    --ring: 199 94% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
